// ======= IMPORTS ========

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

.container {
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}



.header {

    .header__bg {
        position: relative;
       
        .header__bg-img {
            opacity: 0.7;
            min-height: 400px;
            width: 100%;
            
        }

        @media screen and (min-width: 460px) {
            .header__bg-img {
                opacity: 0.7;
                max-height: 650px;
                width: 100%;
                
            }
        }

        @media screen and (min-width: 500px) {
            .header__bg-img {
                opacity: 0.7;
                min-height: 550px;
                width: 100%;
                
            }
        }

        &::before {
            content: '';
            background-image: url(../images/confetti.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 250px;
        }
    }

    .header__inner {
        width: 95%;
        max-width: 1200px;
        position: absolute;
        z-index: 2;
        top: 0;

        .contacts {
            display: flex;
            justify-content: flex-end;
           

            .contacts__tel {
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
                color: #0e055c;
            }
            
        }

        .header__main {
            display: flex;
            flex-direction: column;
            margin: 30px 0;
            .header-text {
                margin-top: 30px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                
                text-transform: uppercase;
                font-weight: bold;
                line-height: 40px;
                color: #0e055c;

                .header-text__title {
                    color: #0e055c;
                    font-size: 28px;
                    
                }

                .header-text__money {
                    color: #1693ce;
                    font-size: 60px;
                    
                }
            }
        }
    }
}




.countdown {
    background-color: #0e055c;
    .countdown__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        font-size: 16px;
        padding: 20px 0;

        .countdown__timebox {
            display: flex;
            text-align: center;
           
            .countdown__timebox-part {
                font-size: 28px;
                margin: 0 5px;
            }
            .countdown__timebox-day,
            .countdown__timebox-hour,
            .countdown__timebox-minutes,
            .countdown__timebox-seconds {

                .timebox-day-time,
                .timebox-hour-time,
                .timebox-minutes-time,
                .timebox-seconds-time {
                    font-size: 28px;
                }

            }
        }
    }
}





//  ===== FORM ======


.form-fdb {
    min-width: 320px;
    margin: 0 auto;
    background: #eeeeee;

    .form__title {
        padding: 15px 10px;
        background: #1693ce;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        .form__note {
            font-size: 12px;
            font-weight: 500;
            text-transform: none;
        }
    }
    .form__inner{
        
        
        .form {
            max-width: 500px;
            margin: 0 auto;
            padding: 0 10px;

          

            .form__main {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                input {
                    width: 100%;
                    margin-top: 15px;
                    border: 1px solid #d6d6d6;
                    border-radius: 5px;
                    padding: 10px 20px;
                    font-weight: 600;
                    

                    &::placeholder {
                        color: #000000;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }

                input:focus {
                    outline: 1px solid #000000;
                }
            }

            .time-to-call {
                font-size: 14px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
            }

            .form__warrning {
                font-size: 14px;
                font-weight: bold;
                margin: 10px 0 15px;
                
            }

            .form__textarea {
                overflow-y: hidden;
                width: 100%;
                resize: none;
                height: 46px;
                border: 1px solid #d6d6d6;
                border-radius: 5px;
                padding: 15px 0px 10px 20px;
                &:focus {
                    outline: 1px solid #000000;
                }

                &::placeholder {
                    color: #000000;
                    font-size: 12px;
                    font-weight: 600;
                }
                
            }

            .from__btn {
                display: flex;
                width: 100%;
                margin: 15px 0 10px;
                button {    
                    width: 100%;
                    border: none;
                    background: #ff9252;
                    box-shadow: 0px 1px 5px 1px #a0440e;
                    border-radius: 5px;
                    min-height: 46px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .form__end {
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                padding-bottom: 30px;
                
            }
        }
    }
}


// ======== MAIN SLIDER =======

.main-slider {
    background: #1693ce;

    .swiper {

        .swiper-title {
            text-align: center;
            color: #ffffff;
            margin: 30px 0 10px;
        }
        .swiper-wrapper {
            min-height: 310px;
            max-height: 310px;
            .swiper-slide {
                img {
                    min-height: 310px;
                    max-height: 310px;
                    width: 100%;
                }
            }
        }
    
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
            background-color: #ffffff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
    
            img {
                width: 24px;
                height: 24px;
            }
        }
    
        .swiper-button-next {
            transform: rotate(180deg);
        }
    }
    
}






// ======== SLIDER FEEDBACK =======

.slider-feedback {
    background: #1693ce;
   
    .swiper {
        max-width: 650px;
        .swiper-title {
            text-align: center;
            color: #ffffff;
            margin: 30px 0 10px;
        }
        
        .swiper-slide {
            .slide__rait {
                display: flex;
                justify-content: center;

                img {
                    width: 36px;
                    height: 36px;
                    margin-left: 10px;
                }

                img:first-child{
                    margin-left: 0;
                }
            }

            .slide__comment {
                color: #ffffff;
                font-size: 12px;
                margin: 20px 0 10px;
            }

            .slide__author {
                text-align: right;
                color: #ffffff;
            }
        }
    
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
            width: 50px;
            height: 50px;
            img {
                width: 24px;
                height: 24px;
            }
        }
    
        .swiper-button-next {
            transform: rotate(180deg);
        }
    }
    
}




// ====== ABOUT =======

.about {
    background: #1693ce;
    padding-bottom: 50px;

    .about__inner {
        padding-top: 50px;
        text-align: center;
    
        .about__title {
            color:#ffffff; 
        }

        .about__item {
            padding: 20px 0;
            &-link {
                text-decoration: none;
                color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 5px;
                padding: 15px 20px;
                transition: all 0.5s ease;
            }

            .about__item-link:hover {
                background: #d6d6d652;
            }
        }
    }
}




// ======= FOOTER =======


.footer {
    background: #0e055c;

    .footer__inner {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer__logo {
            width: 60%;

            img {
                max-height: 100px;
            }
        }

        .footer__social {
            width: 15%;
            display: flex;
            justify-content: center;

            img {
                max-width: 50px;
                max-height: 50px;
            }
            
        }
    }
}

@media screen and (min-width: 768px) {
    .contacts__tel {
        font-size: 36px !important;
    }
    .swiper-title {
        font-size: 18px;
    }
    .slide__comment {
        font-size: 14px !important;
    }
    .main-slider{
        .swiper-wrapper {
            min-height: 700px !important;
            max-height: 800px !important;
            .swiper-slide {
                img {
                    min-height: 700px !important;
                    max-height: 800px !important;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .form-fdb {
        max-width: 1200px;
        position: absolute;
        z-index: 2;
        top: 100px;
        left: 55%;
    }

    .header__main {
        margin: 100px 0 30px !important;
        width: 50%;
        align-items: center;
    }

    .countdown {
        .countdown__inner {
            width: 50%;
        }
    }
    .main-slider{
        
        .swiper-wrapper{
            .swiper-slide {
                img {
                    max-height: 600px !important;
                    max-width: 1100px;
                    margin: 0 auto;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: flex !important;
            background-color: #ffffff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
    
            img {
                width: 24px;
                height: 24px;
            }
        }
    
        .swiper-button-next {
            transform: rotate(180deg);
        }
    }

    .slider-feedback {
        .swiper-slide {
            padding: 0 100px !important;
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: flex !important;
            width: 50px;
            height: 50px;
    
            img {
                width: 36px !important;
                height: 36px !important;
            }
        }
    
        .swiper-button-next {
            transform: rotate(180deg);
        }
    }
}


